<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Cadastro de Tipos</title>

<link type="text/css" rel="stylesheet" href="/css/style.css" />

</head>
<body>

	<nav th:replace="fragments/padrao :: cabecalho"></nav>

	<div class="row">
		<form class="col s12" method="post" action="salvarTipo">

			<input type="hidden" th:value="${tipos?.id}" name="id">

			<div class="row">
				<div class="input-field col s6">
					<input name="tipo" type="text" class="validate" required="required"
						th:value="${tipos?.tipo}"> <label for="tipo">Tipo</label>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s6">
					<input name="palavrasChave" type="text" class="validate" required="required"
						th:value="${tipos?.palavrasChave}"> <label for="palavrasChave">Palavra-Chave</label>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<input name="descricao" type="text" class="validate"
						required="required" th:value="${tipos?.descricao}"> <label
						for="descricao">Descrição</label>
				</div>
			</div>
 			
			<button class="btn waves-effect waves-light" type="submit"
				name="action">
				Submit <i class="material-icons right">done_all</i>
			</button>
		</form>
	</div>

	<div th:replace="fragments/mensagem"></div>

	<footer th:replace="fragments/padrao :: rodape"></footer>	



</body>
</html>