<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Carro</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
	
		<header th:replace="fragments/padrao :: cabecalho"></header>
	

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Modelo</th>
				<th>Tipo do Carro</th>
				<th>Marca</th>
				<th>Teste de Segurança</th>
				<th>Especificação Técnica</th>
				<th>Estepe</th> 
				<th>Teto Solar</th>
				<th>Alça PQP</th> 
				<th>Fotos do Carro</th>
				<th>Alterar</th>
				<th>Excluir</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="carro : ${carros}">
				<td th:text="${carro.id}"></td>
				<td th:text="${carro.modelo}"></td>
				<td th:text="${carro.tipo.tipo}"></td>
				<td th:text="${carro.marca}"></td>
				<td th:text="${carro.testeSeguranca}"></td>
				<td th:text="${carro.especificacaoTec}"></td>
				<td th:text="${carro.estepe}"></td>
				<td th:text="${carro.tetoSolar}"></td>
				<td th:text="${carro.alcaPqp}"></td>
				<td style="display: flex !important"><img style="width: 150px; margin-left: 2%" th:each="foto: ${carro.verFotos()}" th:src="${foto}"></td>
				<td><a th:href="@{/alterarCarro(id=${carro.id})}">Alterar</a></td>
				<td><a th:href="@{/excluirCarro(id=${carro.id})}">Excluir</a></td>
			</tr>
		</tbody>
	</table>

	<ul class="pagination">
		<li th:class="${paginaAtual == 1 ? 'disabled' : ''}">
			<a th:href="${paginaAtual > 1 ? paginaAtual - 1 : '#'}">
			<i class="material-icons">chevron_left</i></a>
		</li>
			
		<li th:each="p : ${numPaginas}" th:class="${paginaAtual == p ? 'active grey' : 'waves-effect'}"> 
			<a th:href="${p}"> <span th:text="${p}"></span> </a> 
		</li>
		
		<li th:class="${paginaAtual == totalPaginas ? 'disabled' : ''}">
			<a th:href="${paginaAtual < totalPaginas ? paginaAtual + 1 : '#'}"> 
			<i class="material-icons">chevron_right</i></a>
		</li>
	</ul>
	
	<footer th:replace="fragments/padrao :: rodape"></footer>
	
	
		
</body>
</html>